$sideBarMinWidth: 86px;

.root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: helvetica, arial, 'Hiragino Kaku Gothic ProN', meiryo, sans-serif;
  position: relative;
  background-image: url(../resources/background.png);
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  input {
    font-size: 16px;
  }
}

.landscapeWrapper {
  flex: 4;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  .left .container {
    flex-direction: column;
  }
}

.portraitWrapper {
  flex: 1;
  display: flex;
  align-items: stretch;
  min-height: 60px;
  &.isTouchEnabled {
    min-height: 300px;
  }

  .left .container {
    flex-direction: row;
  }
}

%sideBar {
  min-width: $sideBarMinWidth;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}

.left {
  @extend %sideBar;
  z-index: 2;

  .container {
    flex: 1;
    z-index: 1;
    display: flex;
  }
}

.right {
  @extend %sideBar;
  z-index: 3;
  align-items: flex-end;

  .container {
    flex: 1;
    height: 10vh;
    max-height: 60px;
    width: 100%;
    text-align: right;

    .book {
      cursor: pointer;
      height: 100%;
      transition: all 250ms;
    }

    .balloon {
      right: 154px;
      margin-top: -48px;
    }
  }
}

.space {
  flex: 0 1 16%;
}

.blank {
  flex: 1;
}
