%noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                          supported by Chrome, Opera and Firefox */
}

.noselect {
  @extend %noselect;
  * {
    @extend %noselect;
  }
}

.select * {
  -webkit-touch-callout: initial; /* iOS Safari */
  -webkit-user-select: initial; /* Safari */
  -khtml-user-select: initial; /* Konqueror HTML */
  -moz-user-select: initial; /* Old versions of Firefox */
  -ms-user-select: initial; /* Internet Explorer/Edge */
  user-select: initial; /* Non-prefixed version, currently
                          supported by Chrome, Opera and Firefox */
}
