@mixin select($value: none) {
  -webkit-touch-callout: $value; /* iOS Safari */
  user-select: $value;
  touch-action: none;
}

.noselect {
  @include select(none);
  * {
    @include select(none);
  }
}

.select * {
  @include select(initial);
  * {
    @include select(initial);
  }
}
